body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: gray;
}
body:before {
  display: block;
  content: " ";
  background-image: url('favicon.png');
  background-size: 100%;
  width: 50em;
  height: 50em;
  position: absolute;
  left: 50%;
  top: -10em;
  margin-left: -25em;
  opacity: 0.05;
  z-index: -1;
}
#status {
  padding: 0.5em;
  line-height: 1.5em;
  font-size: 6em;
  min-height: 100%;
}
#status .client, #status .project, #status .task {
  position: relative;
  padding-left: 0.5em;
}
#status .client:before, #status .project:before, #status .task:before {
  text-transform: uppercase;
  position: absolute;
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -o-transform-origin: 0;
  transform-origin: 0;
  width: 5em;
  font-size: 0.3em;
  text-align: center;
  top: 2.7em;
  left: 0.5em;
}
#status .client:before {
  content: "client";
}
#status .project:before {
  content: "job";
}
#status .task:before {
  content: "task";
}
#status .time {
  font-size: 2em;
  margin: 0.3em 0 0.5em;
}
#status .time:after {
  display: table;
  content: " ";
  clear: both;
}
#status .time div {
  float: left;
  width: 33%;
  position: relative;
  text-align: center;
  padding-top: 0.4em;
  transition-property: color, text-shadow;
  transition-duration: 0.3s;
}
#status .time div:before {
  position: absolute;
  font-size: 0.3em;
  width: 100%;
  top: 0;
  line-height: 1em;
  text-transform: uppercase;
  display: block;
}
#status .today {
}
#status .today:before {
  content: "Today";
}
#status .elapsed {
  color: #E300FF;
  cursor: pointer;
}
#status .elapsed.timer,
#status .elapsed:hover {
  text-shadow: 0 6pt 0 black;
}
#status .elapsed:before {
  text-shadow: none;
  content: "Elapsed";
}
#status .break {
}
#status .break:before {
  content: "Since Break";
}
